@model UsersViewModel

@{
    ViewBag.Title = $"Добавление нового сотрудника";
 }

<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Добавить нового сотрудника</h2>
            <form asp-action="EndAddEmployee">
                
                <div asp-validation-summary="ModelOnly" ></div>
                
                <div class="form-group">
                    <label asp-for="FirstName">Имя:</label><br>
                    <input type="text" asp-for="FirstName"  class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"> </span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName">Фамилия:</label><br>
                    <input type="text" asp-for="LastName"  class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Email">Отчество:</label><br>
                    <input type="text" asp-for="Email"   class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Age">Возраст:</label><br>
                    <input asp-for="Age" type="number"  class="form-control"><br />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input style="margin:10px 0px" class="btn btn-info" type="submit" value="Сохранить">
                    <input style="margin: 10px 10px" class="btn btn-default" type="reset" value="Сбросить">
                    <a style="margin: 10px 0px" class="btn btn-danger" asp-action="Index">Отмена</a>
                </div>



            </form>

        </div>

    </div>


</div>