@model IEnumerable<WebStore_Study.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>


    <a href="~/">Домой</a>
</body>
</html>
