

<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a taghelper-is-active-route asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="dropdown">
        <a taghelper-ignore-action taghelper-is-active-route asp-controller="Catalog" asp-action="Shop">Магазин<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a taghelper-is-active-route asp-controller="Catalog" asp-action="Shop">Товары</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a taghelper-ignore-action taghelper-is-active-route asp-controller="Blogs" asp-action="Index">Блоги<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a taghelper-is-active-route asp-controller="Blogs" asp-action="Index">Все</a></li>
            <li><a taghelper-is-active-route asp-controller="Blogs" asp-action="BlogSingle">Запись блога</a></li>
        </ul>
    </li>
    <li><a taghelper-is-active-route asp-controller="Error404" asp-action="Index">404</a></li>
    <li><a taghelper-is-active-route asp-controller="ContactUs" asp-action="Index">Контакты</a></li>
    <li><a asp-controller="User" asp-action="Index" class="@IsActive("User")">Сотрудники</a></li>
    <li><a taghelper-is-active-route asp-controller="TestWebApi" asp-action="Index">WebApi</a></li>
</ul>

@functions
{
    string IsActive(string controller, string Action="Index") =>
        Equals(controller, ViewContext.RouteData.Values["Controller"])
        && Equals(Action, ViewContext.RouteData.Values["Action"])
            ? "active"
            : null;
}
