@model LoginViewModel
@{ViewBag.Title = "Авторизация";
}
<section style="margin:40px 0 60px 0">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email Address" />
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <span>
                                <input type="checkbox" class="checkbox">
                                Keep me signed in
                            </span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--/login form-->
    </div>


</section><!--/form-->
